<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Attendance System</title>
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Monoton" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
</head>
<body>
    <nav style="background-color: #152F4F;" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand myclass  animated bounceInLeft" href="#" style="font-family: Monoton;">
            Commercial App
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="menual collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">

            @if (Session["UserName"] == null)
            {
                <div class="navbar-nav">
                    <a class="nav-item nav-link @ViewBag.Login" href="@Url.Action("Login", "Account")"><button class="btn btn-primary" style="width: 110px; height: 45px; background-color: #152F4F;"><i class="fas fa-sign-in-alt icn"></i> Login</button></a>
                    @*<a class="nav-item nav-link @ViewBag.Register" href="@Url.Action("Register", "Authentication")"><button class="btn btn-primary" style="width: 110px; height: 45px; background-color: #152F4F;"><i class="fas fa-user-plus"></i> Register</button></a>*@

                </div>
            }
            @if (Session["UserName"] != null)
            {
                <div class="navbar-nav">
                    <a class="nav-item nav-link @ViewBag.HomePage " href="@Url.Action("Index", "Home")"><button class="btn btn-primary" style="width: 120px; height: 45px; background-color: #152F4F;"><i class="fas fa-home"></i> Home </button></a>
                    <a class="nav-item nav-link @ViewBag.EmployeeAttendence " href="@Url.Action("Index", "Banks")"><button class="btn btn-primary" style="width: 120px; height: 45px; background-color: #152F4F;"> Banks </button></a>
                    <a class="nav-item nav-link @ViewBag.EmployeeAttendence " href="@Url.Action("Index", "Suppliers")"><button class="btn btn-primary" style="width: 120px; height: 45px; background-color: #152F4F;"> Suppliers </button></a>
                    <a class="nav-item nav-link @ViewBag.EmployeeAttendence " href="@Url.Action("Index", "Products")"><button class="btn btn-primary" style="width: 120px; height: 45px; background-color: #152F4F;"> Products </button></a>
                    <a class="nav-item nav-link @ViewBag.EmployeeAttendence " href="@Url.Action("Index", "Master")"><button class="btn btn-primary" style="width: 120px; height: 45px; background-color: #152F4F;"> Master Form </button></a>
                    <a class="nav-item nav-link " href="@Url.Action("LogOff", "Account")"> <button class="btn btn-primary" style="width: 120px; height: 45px; background-color: #152F4F;"><i class="fas fa-sign-out-alt"></i> Logout </button></a>
                </div>
            }

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

    </div>



    <footer class="footer font-small unique-color-dark" style="background-color: #152F4F; color: white;">
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <!-- Content -->
                    <h6 class="font-weight-bold">Commercial App</h6>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> Bangladesh
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> myemails@gmail.com
                    </p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2021 - 2022 Copyright:

        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


</body>
</html>
<script src="~/Scripts/fontawesome/all.min.js"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/chosen.jquery.js"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
@RenderSection("scripts", required: false)